<div class="coming-soon">
  <div class="floating-shapes">
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-3"></div>
  </div>
  <div class="content">
    <div class="glass-card">
      <h1>{{cardTitle}}</h1>
      <div class="animated-text">
        <p>{{cardDescription}}</p>
      </div>
      <div class="social">
        <a [href]="xUrl" class="glass-button">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a [href]="instagramUrl" class="glass-button">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a [href]="youtubeUrl" class="glass-button">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</div>